<p appHighlight>hisham-test works!</p>

<ul>
  <li *ngFor="let car of hishamCars">
    {{ car | uppercase | lowercase | titlecase }}
  </li>
</ul>

<button (click)="updateTime()">Update time!</button>
<br />
{{ dateExample | date: "dd-MM-yyyy hh:mm:s" }}
<br />
{{ currencyExample | currency: "€" }}
<br />
<input type="text" [(ngModel)]="currencyExample" />
<br />
<br />
<h1>Movies:</h1>

<ul>
  <li *ngFor="let movie of movies">
    {{ movie.title }} - {{ movie.year }} - {{ movie.rating }}
  </li>
</ul>
